@mixin h3-v1 {
  font-size: 35px;
}

@mixin input-v1 {
  padding-left: 10px;
  padding-right: 20rem;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}

@mixin input-v2 {
  font-size: 15px;
  width: 25.2vw;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid transparent;
  border-radius: 3px;
}

@mixin button-v1 {
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@mixin button-v2 {
  font-size: 25px;
  border: 2px solid;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 20px;
}

@mixin button-v3 {
  font-size: 20px;
  width: 26vw;
  border: 2px solid;
  border-radius: 5px;
}

@mixin button-v4 {
  border: 1px solid;
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@mixin button-v5 {
  border: 1px solid;
  font-size: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

@mixin link-v1 {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

@mixin link-v2 {
  color: black;
  text-decoration: none;
  font-weight: 300;
}

@mixin link-v3 {
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
}
