.banner-container {
  border: 2px solid;
  border-radius: 7px;
  overflow: hidden;
  height: 70vh;
  margin-left: 50px;
  margin-right: 50px;
  background:rgba(0,0,1,0.9);
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.6;
  }
}
