@import "./variables/_mixins.scss";
@import "./variables/_colors.scss";

.banner-description-container {
  color: white;
  position: absolute;
  top: 0;
  margin-top: 90px;
  margin-left: 8vw;
  margin-right: 30vw;
  height: 60vh;
  h3 {
    @include h3-v1;

  }

  &__description {
    white-space: pre-wrap;
    h3 {
      margin-bottom: 0;
    }

    .banner-rating {
      display: flex;
      align-items: center;
      //background: grey;
      height: 20px;
      width: 250px;
      p {
        margin-left: 15px;
      }

      #star1 {
        color: gold;
      }
      #star2 {
        color: gold;
      }
      #star3 {
        color: gold;
      }
      #star4 {
        color: gold;
      }
      #star5 {
        color: gold;
      }
    }

  }

  &__button {
    margin-top: 20px;
    button {
      @include button-v2;
      color: white;
      margin-right: 20px;
      cursor: pointer;
    }
  }
}

#color1 {
  background: $color1;
  border: $color1;
}

#color2 {
  display: show;
  background: transparent;
}

#color3 {
  display: none;
  background: transparent;
}
