@import './variables/_colors.scss';
@import './variables/_mixins.scss';

.body-container {
  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img {
      width: 15vw;
      height: 50vh;
      margin-right: 20px;
      border: 1px solid transparent;
      border-radius: 10px;
    }

    .col {
      width: 17vw;
      height: 70vh;

      p {
        width: 15vw;
        margin: 0;
        font-weight: bold;
        font-size: 18px;
      }

      &-text {
        position: relative;
        bottom: 80px;
      }

      &-button {
        opacity: 0;
        width: 15vw;
        font-weight: bold;
        font-size: 18px;
        position: relative;
        bottom: 200px;
        margin-bottom: 0;
        transition: .5s ease;
        #textmovies-button {
          margin-top: 10px;
          text-align: center;
          border: 1px solid;
          border-radius: 15px;
          cursor: pointer;
          padding-top: 5px;
          padding-bottom: 5px;
          width: 150px;
        }
      }
    }
  }

  .col-img {
    width: 190px;
    height: 190px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 10px;
    img {
      width: 100%;
      height: auto;
    }

    &-flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 155px;
      margin-right: 60px;
      p {
        margin: 0;
        text-align: center;
        font-weight: 500;
        margin-bottom: 30px;
      }
    }
  }

  &__characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.col-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  :hover {
    background: orange;
  }
}


.col-hover {
  width: 15.5vw;
}

.col-hover:hover .movie-image {
  opacity: 0.3;
}

.col-hover:hover .col-button {
  opacity: 1;
}
