@import "./variables/_colors.scss";
@import "./variables/_mixins.scss";

.filter-container {
  margin-left: 8vw;
  h3 {
    margin-bottom: 30px;
    color: grey;
    font-size: 25px;
    font-weight: bold;
  }

  &__button {
    margin-top: 15px;
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: bold;
    a {
      text-decoration: none;
      color: white;
    }
    p {
      margin: 0;
      margin-bottom: 30px;
      @include button-v4;
      background-color: $color4;
      margin-right: 5px;
      cursor: pointer;
    }
  }
}
