@import './variables/_mixins.scss';

.headerContainer {
  background-color: white;
  display: flex;

  a {
    text-decoration: none;
    color: black;
  }

  img {
    width: 5vw;
    margin-right: 5px;
  }

  h3 {
    //margin-right: 60vw;
  }

  form {
    input {
      //@include input-v1;
    }
  }

  #search-component {
    @include input-v1;
  }

  button {
    @include button-v1;
  }

  &__left {
    display: flex;
    align-items: center;
    width: 20vw;
    margin-left: 50px;
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;

    a {
      @include link-v1;
      margin-left: 15vw;
    }
  }

  &__profileBox {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    width: 13vw;
    height: 30vh;
    right: 0;
    margin-right: 12vw;
    margin-top: 12vh;
    p {
      margin-left: 10px;
    }

    a {
      @include link-v2;
      margin-bottom: 10px;
      margin-left: 10px;
    }
  }
}

#not-sign {
  display: block;
}

#sign {
  display: none;
  cursor: pointer;
  margin-left: 15vw;
  margin-top: 5px;
}

#profileBox {
  display: none;
}

@media screen and (max-width: 1102px) {
  .headerContainer {
  }

  #sign {
    margin-right: 15vw;
  }
}
