.overview-container {
  margin-left: 115px;
  margin-right: 115px;

  &__description {
    
    form {

      .form {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }

      p {
        font-weight: 500;
        margin: 0;
        margin-right: 20px;
      }

    }

    .section-heading {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: calc(100% - 100px);
        height: 1px;
        left: 100px;
        top: 50%;
        background: #333;
        transform: translateY(-50%);
      }
    }
  }
}
