@import "./variables/_colors.scss";
@import "./variables/_mixins.scss";

.body-pagination {
  margin-left: 30vw;
  margin-right: 30vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  span {
    cursor: pointer;
  }
  p {
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    @include button-v5;
    color: white;
    font-weight: bold;
    border-color: $color1;
    background-color: $color1;
  }
}
