.profile-picture-container {
  background-color: blue;
  overflow: hidden;
  border: 1px solid white;
  border-radius: 100%;
  width: 4vw;
  height: 4vw;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
