@import './variables/_colors.scss';
@import './variables/_mixins.scss';

.form-profile-container {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: block;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  &__box {
    margin-left: 33vw;
    margin-top: 8vh;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 30vw;
    height: 80vh;
    padding: 20px;
    text-align: center;
    form {
      margin-top: 25px;
      text-align: left;
      span {
        margin-left: 30px;
        color: $color3;
      }
      input {
        @include input-v2;
        display: block;
        margin: 10px auto;
        background-color: $color2;
      }
      button {
        margin-left: 28px;
        @include button-v3;
        background-color: $color1;
        border-color: transparent;
        color: white;
        cursor: pointer;
        margin-top: 30px;
        margin-bottom: 50px;
      }
    }
  }

  .logo {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  .logo-change {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    &__picture {
      border: 1px solid black;
      img {
        object-fit: cover;
        width: 100%;
        height: 150px;
      }
    }

    &__change {
      cursor: pointer;
      opacity: 0;
      position: absolute;
      top: 19vh;
      width: 15vw;
      font-weight: bold;
      transition: .5s ease;
      p:hover {
        background: blue;
      }
      #logo-change__icon {
        text-align: center;
        border: 1px solid;
        border-radius: 15px;
        curson: pointer;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    
  }

  .logo-change:hover .logo-change__image-image {
    opacity: 0.1;
  }

  .logo-change:hover .logo-change__change {
    opacity: 1;
  }
}

#back-to-home {
  cursor: pointer;
  color: red;
  position: absolute;
  top: 27px;
  left: 33.3vw;
  a {
    text-decoration: none;
    color: red;
  }
}
