.review-container {
  margin-left: 115px;
  margin-right: 115px;
  h3 {
    font-size: 25px;
  }
  textarea {
    height: 100px;
    width: 70vw;
    resize: none;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  &__picture {
    width: 100px;
    height: 115px;
    img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
    }
  }

  &__review {
    margin: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    p {
      margin: 0;
      margin-bottom: 5px;
      font-size: 23px;
      font-weight: bold;
    }
  }
  
  &__myreview {
    display: flex;
  }

  &__allreviews-review{
    display: flex;
    margin-bottom: 35px;
  }
}

#rev-star1 {
  color: grey;
}

#rev-star1:hover {
  color: gold;
}

#rev-star2 {
  color: grey;
}

#rev-star2:hover {
  color: gold;
}

#rev-star2:hover ~ #rev-star1 {
  color: gold;
}

#rev-star3 {
  color: grey;
}

#rev-star4 {
  color: grey;
}

#rev-star5 {
  color: grey;
}

.rev-star6 {
  color: grey;
  
  // The hovered element
  &:focus,
  &:hover {
    color: gold;
    
    &::before {
      content: 'Hovered';
    }
  }
  
  &:focus ~ &,
  &:hover ~ &{
    color: #6ef1cd;
    
    &::before {
      content: 'After';
    }
  }
}

//.review-container__review:not(:focus-within):not(:hover) {
  //.hover { 
    //background: grey;
    //&::before { content: 'Hover Me'; }
  //}
//}

