@import './variables/_colors.scss';
@import './variables/_mixins.scss';

.form-container {
  //pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  &__box {
    margin-left: 33vw;
    margin-top: 8vh;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 30vw;
    height: 80vh;
    padding: 20px;
    text-align: center;
    form {
      margin-top: 25px;
      text-align: left;
      span {
        margin-left: 30px;
        color: $color3;
      }
      input {
        @include input-v2;
        display: block;
        margin: 10px auto;
        background-color: $color2;
      }
      button {
        margin-left: 28px;
        @include button-v3;
        background-color: $color1;
        border-color: transparent;
        color: white;
        cursor: pointer;
        margin-top: 30px;
        margin-bottom: 50px;
      }
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }
}

#sign-up {
  display: none;
}

#sign-in {
  display: block;
}
