.indicators {
  position: absolute;
  bottom: 0;
  display: flex;
  margin-left: 44vw;
  padding-bottom: 20vh;

  div[data-key] {
    padding-top: 10px;
    padding-right: 10px;
  }
}

.react-slideshow-container + div.indicators > div.active {
  background: white;
}

.react-slideshow-container + div.indicators > div {
  background: transparent;
  border: 1px solid white;
}
