@import './variables/_colors.scss';
@import './variables/_mixins.scss';

.trailer-container {
  position: fixed;
  z-index: 99;
  background: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;

  &__box {
    background: white;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  iframe {
    border-radius: 10px;
    width: 50vw;
    height: 70vh;
  }
}

#showtrailer {
  display: none;
}
